<md-dialog aria-label="Book My Appointment" ng-cloak>
  <form ng-controller="bookAppointmentCtrl as bac">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Book {{bac.selectedUser.name}} Appointment</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="bac.cancel()">
          <md-icon md-svg-src="assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <div class="md-dialog-content">

        <div ng-controller="bookAppointmentCtrl" layout="column" ng-cloak>
          <br/>
          <md-content class="autoScroll">
            <md-datepicker ng-model="bac.bookingDate" md-placeholder="Enter date"></md-datepicker>
            <md-input-container flex>
              <label>Enter Time</label>
              <input type="time" ng-model="bac.bookingTime" placeholder="HH:mm:ss"/>
            </md-input-container>
          </md-content>

        </div>
      </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">

      <span flex></span>

      <md-button class="md-raised md-warn" ng-click="bac.cancel()">Cancel</md-button>

      <md-button class="md-raised md-primary" ng-click="bac.bookAppointment()">
        <md-tooltip>Book My Appointment</md-tooltip>
        <md-icon md-svg-icon="share"></md-icon>
        Book Appointment
      </md-button>
    </div>
  </form>
</md-dialog>